# User Behavior Overview

## Imports

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option("expand_frame_repr", False)
# pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from vis_plotly import *

## Data reading

In [4]:
df = pd.read_csv("../data/clean_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146891 entries, 0 to 146890
Data columns (total 34 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   bearer_id                146891 non-null  float64
 1   msisdn_number            146891 non-null  float64
 2   imei                     146891 non-null  float64
 3   imsi                     146891 non-null  float64
 4   last_location_name       146891 non-null  object
 5   handset_manufacturer     146891 non-null  object
 6   handset_type             146891 non-null  object
 7   start                    146891 non-null  object
 8   end                      146891 non-null  object
 9   dur_(ms)                 146891 non-null  float64
 10  social_media_dl_(bytes)  146891 non-null  float64
 11  social_media_ul_(bytes)  146891 non-null  float64
 12  google_dl_(bytes)        146891 non-null  float64
 13  google_ul_(bytes)        146891 non-null  float64
 14  email_dl_(bytes)         146891 non-null  float64
 15  email_ul_(bytes)         146891 non-null  float64
 16  youtube_dl_(bytes)       146891 non-null  float64
 17  youtube_ul_(bytes)       146891 non-null  float64
 18  netflix_dl_(bytes)       146891 non-null  float64
 19  netflix_ul_(bytes)       146891 non-null  float64
 20  gaming_dl_(bytes)        146891 non-null  float64
 21  gaming_ul_(bytes)        146891 non-null  float64
 22  other_dl_(bytes)         146891 non-null  float64
 23  other_ul_(bytes)         146891 non-null  float64
 24  total_ul_(bytes)         146891 non-null  float64
 25  total_dl_(bytes)         146891 non-null  float64
 26  social_media             146891 non-null  float64
 27  google                   146891 non-null  float64
 28  email                    146891 non-null  float64
 29  youtube                  146891 non-null  float64
 30  netflix                  146891 non-null  float64
 31  gaming                   146891 non-null  float64
 32  other                    146891 non-null  float64
 33  total_data               146891 non-null  float64
dtypes: float64(29), object(5)
memory usage: 38.1+ MB

##  Top 10 handsets used by the customers

In [5]:
class DfSelector():

    def __init__(self):
        pass

    def filter_by_count(self, df, column):
      new_df = df[column].value_counts(ascending=False).reset_index().copy()
      new_df = new_df.rename(
          columns={'index': column, column: "count"})
      return new_df

    def filter_by_sum(self, df, column):
      new_df = df[column].sum(ascending=False).reset_index().copy()

      new_df = new_df.rename(
          columns={'index': column, column: "sum"})
      return new_df

    
    def find_agg(self, df: pd.DataFrame, agg_column: str, agg_metric: str, col_name: str, top: int, order=False) -> pd.DataFrame:
        new_df = df.groupby(agg_column)[agg_column].agg(agg_metric).reset_index(name=col_name).\
        sort_values(by=col_name, ascending=order)[:top]
        return new_df
    
selector = DfSelector()

In [6]:
count_df = selector.filter_by_count(df, 'handset_type')
count_df.head(10)

                   handset_type  count
0              Huawei B528S-23A  28193
1       Apple iPhone 6S (A1688)   9369
2        Apple iPhone 6 (A1586)   8967
3        Apple iPhone 7 (A1778)   6240
4       Apple iPhone Se (A1723)   5151
5        Apple iPhone 8 (A1905)   4961
6       Apple iPhone Xr (A2105)   4542
7  Samsung Galaxy S8 (Sm-G950F)   4404
8        Apple iPhone X (A1901)   3788
9    Samsung Galaxy A5 Sm-A520F   3673

In [7]:
fig = px.histogram(count_df.nlargest(10, 'count'), x="handset_type", y='count')
fig.show()

## Top 3 handset manufacturers

In [8]:
top_manufacturers = selector.filter_by_count(df, 'handset_manufacturer')
top_manufacturers.head(3)

  handset_manufacturer  count
0                Apple  67892
1              Samsung  39902
2               Huawei  33755

##  Top 5 handsets per top 3 handset manufacturer

In [9]:
top3_manufacturers = top_manufacturers.head(3)['handset_manufacturer'].values
top_manufacturers = df[df["handset_manufacturer"].isin(top3_manufacturers)]
top_manufacturers['handset_type'].groupby(
    df['handset_manufacturer']).apply(lambda x: x.value_counts().head(5))

handset_manufacturer
Apple                 Apple iPhone 6S (A1688)            9369
                      Apple iPhone 6 (A1586)             8967
                      Huawei B528S-23A                   8820
                      Apple iPhone 7 (A1778)             6240
                      Apple iPhone Se (A1723)            5151
Huawei                Huawei B528S-23A                  19373
                      Huawei E5180                       2062
                      Huawei P20 Lite Huawei Nova 3E     2000
                      Huawei P20                         1471
                      Huawei Y6 2018                      984
Samsung               Samsung Galaxy S8 (Sm-G950F)       4404
                      Samsung Galaxy A5 Sm-A520F         3673
                      Samsung Galaxy J5 (Sm-J530)        3664
                      Samsung Galaxy J3 (Sm-J330)        3431
                      Samsung Galaxy S7 (Sm-G930X)       3106
Name: handset_type, dtype: int64

# Task 1.1

## Number of xDR sessions

In [10]:
sessions = selector.find_agg(df, 'msisdn_number', 'count', 'bearer_id', 10, False)
sessions

       msisdn_number  bearer_id
13381   3.362632e+10         18
6353    3.361489e+10         17
13037   3.362578e+10         17
36669   3.365973e+10         16
75564   3.367588e+10         15
91949   3.376054e+10         15
64472   3.366716e+10         13
653     3.360313e+10         12
91608   3.376041e+10         12
13845   3.362708e+10         12

## Session duration

In [22]:
duration = selector.find_agg(df, 'msisdn_number', 'sum', 'dur_(ms)', -1, False)
duration.nlargest(20, 'dur_(ms)')

        msisdn_number      dur_(ms)
105718   3.370000e+14  3.370000e+14
13381    3.362632e+10  6.052738e+11
13037    3.362578e+10  5.716382e+11
6353     3.361489e+10  5.714532e+11
36669    3.365973e+10  5.385556e+11
91949    3.376054e+10  5.064080e+11
75564    3.367588e+10  5.051382e+11
64472    3.366716e+10  4.376731e+11
91608    3.376041e+10  4.051250e+11
13845    3.362708e+10  4.035250e+11
1258     3.360452e+10  4.032542e+11
653      3.360313e+10  4.032375e+11
85559    3.369879e+10  3.706867e+11
62409    3.366646e+10  3.703311e+11
56669    3.366471e+10  3.703118e+11
35062    3.365936e+10  3.702530e+11
93656    3.376127e+10  3.376127e+11
86234    3.369900e+10  3.369900e+11
44381    3.366159e+10  3.366159e+11
38721    3.366021e+10  3.366021e+11

In [25]:
duration.describe()

count    1.057180e+05
mean     4.997656e+10
std      1.036670e+12
min      3.360100e+10
25%      3.365960e+10
50%      3.367059e+10
75%      6.724550e+10
max      3.370000e+14
Name: dur_(ms), dtype: float64

## The total download (DL) and upload (UL) data

In [13]:
usage = df.groupby('msisdn_number')[['total_dl_(bytes)', 'total_ul_(bytes)']].sum()
usage['total_data'] = usage['total_dl_(bytes)'] + usage['total_ul_(bytes)']
usage.nlargest(20, 'total_data')

               total_dl_(bytes)  total_ul_(bytes)    total_data
msisdn_number
3.361489e+10       8.156743e+09       689483001.0  8.846226e+09
3.376054e+10       7.811295e+09       703478581.0  8.514774e+09
3.362578e+10       7.770043e+09       729577380.0  8.499621e+09
3.362632e+10       7.301517e+09       669650721.0  7.971167e+09
3.367588e+10       7.309542e+09       581568792.0  7.891111e+09
3.365973e+10       7.081602e+09       624260321.0  7.705863e+09
3.366646e+10       6.903440e+09       405060976.0  7.308501e+09
3.376041e+10       6.610852e+09       521518890.0  7.132371e+09
3.366471e+10       6.400774e+09       471244453.0  6.872018e+09
3.369879e+10       6.010556e+09       530343105.0  6.540899e+09
3.365836e+10       5.972303e+09       480094477.0  6.452398e+09
3.362708e+10       5.309479e+09       445251947.0  5.754731e+09
3.366469e+10       5.279827e+09       402180804.0  5.682007e+09
3.366514e+10       5.296297e+09       336683835.0  5.632981e+09
3.366716e+10       5.052068e+09       566326364.0  5.618394e+09
3.361923e+10       5.194723e+09       317683011.0  5.512406e+09
3.363004e+10       5.062212e+09       431929587.0  5.494142e+09
3.360452e+10       5.096079e+09       391775856.0  5.487855e+09
3.366546e+10       5.042243e+09       346387218.0  5.388631e+09
3.367557e+10       4.875792e+09       364032615.0  5.239825e+09

In [14]:
usage.describe()

       total_dl_(bytes)  total_ul_(bytes)    total_data
count      1.057190e+05      1.057190e+05  1.057190e+05
mean       6.317300e+08      5.713601e+07  6.888661e+08
std        4.609209e+08      3.527180e+07  4.869964e+08
min        8.827082e+06      2.866892e+06  3.324901e+07
25%        3.142406e+08      3.637849e+07  3.579501e+08
50%        5.693797e+08      4.676298e+07  6.169335e+08
75%        8.062981e+08      6.550410e+07  8.564738e+08
max        8.156743e+09      7.295774e+08  8.846226e+09

## The total data volume (in Bytes) during this session for each application

In [15]:
df["social_media"] = df["social_media_dl_(bytes)"] + df['social_media_ul_(bytes)']
df["google"] = df["google_dl_(bytes)"] + df["google_ul_(bytes)"]
df['email'] = df["email_dl_(bytes)"] + df["email_ul_(bytes)"]
df['youtube'] = df["youtube_dl_(bytes)"] + df["youtube_ul_(bytes)"]
df['netflix'] = df["netflix_dl_(bytes)"] + df["netflix_ul_(bytes)"]
df["gaming"] = df["gaming_dl_(bytes)"] + df["gaming_ul_(bytes)"]
df['other'] = df["other_dl_(bytes)"]+df["other_ul_(bytes)"]
df['total_data'] = df['total_dl_(bytes)'] + df['total_ul_(bytes)']

In [16]:
apps_df = df.groupby('msisdn_number')[['social_media', 'google', 'email', 'youtube', 'gaming', 'other', 'total_data']].sum().nlargest(20, 'total_data')
apps_df

               social_media       google       email      youtube        gaming         other    total_data
msisdn_number
3.361489e+10     28294544.0  127973787.0  40788634.0  394370218.0  7.749432e+09  7.639264e+09  8.846226e+09
3.376054e+10     39783189.0  123223099.0  33693767.0  396289198.0  7.461045e+09  4.716134e+09  8.514774e+09
3.362578e+10     27135500.0  142307915.0  40633966.0  452958769.0  7.326673e+09  6.354583e+09  8.499621e+09
3.362632e+10     43374779.0  152191852.0  42418782.0  374483047.0  6.887572e+09  8.167878e+09  7.971167e+09
3.367588e+10     19222921.0  109860502.0  31514421.0  317410572.0  6.970568e+09  6.798515e+09  7.891111e+09
3.365973e+10     35412358.0  116516345.0  35999792.0  257991088.0  6.725559e+09  6.317415e+09  7.705863e+09
3.366646e+10     18629986.0   89320737.0  25557139.0  227336012.0  6.646303e+09  4.349141e+09  7.308501e+09
3.376041e+10     20777205.0   82738720.0  25576965.0  303169107.0  6.268620e+09  4.101645e+09  7.132371e+09
3.366471e+10     19390599.0   90389372.0  21426007.0  276834013.0  6.103856e+09  3.976960e+09  6.872018e+09
3.369879e+10     15728161.0   79736125.0  29059042.0  302661958.0  5.753743e+09  4.689876e+09  6.540899e+09
3.365836e+10     17285759.0   76507138.0  19682048.0  260989846.0  5.705920e+09  5.013651e+09  6.452398e+09
3.362708e+10     17808911.0   87125921.0  23567219.0  308790774.0  4.972353e+09  5.117791e+09  5.754731e+09
3.366469e+10     17185041.0   73583110.0  17579618.0  205367769.0  5.008820e+09  4.960858e+09  5.682007e+09
3.366514e+10     15849705.0   64497942.0  18242665.0  201345789.0  5.087873e+09  2.891011e+09  5.632981e+09
3.366716e+10     24247850.0  105032696.0  30335796.0  315231310.0  4.725622e+09  4.941519e+09  5.618394e+09
3.361923e+10     12103150.0   56119265.0  17056998.0  165763587.0  4.997332e+09  3.525314e+09  5.512406e+09
3.363004e+10     14811201.0   76717543.0  26898243.0  275462004.0  4.794630e+09  4.978853e+09  5.494142e+09
3.360452e+10     18476523.0   83815037.0  23854429.0  179686748.0  4.846663e+09  4.129943e+09  5.487855e+09
3.366546e+10     10554843.0   63597426.0  30417885.0  232292532.0  4.781003e+09  2.973452e+09  5.388631e+09
3.367557e+10     15647262.0   83004517.0  21770529.0  190142497.0  4.666101e+09  4.142144e+09  5.239825e+09

In [17]:
df.to_csv('../data/clean_data.csv', index=False)