# User Behavior Overview

## Imports

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option("display.precision", 3)
pd.set_option("display.expand_frame_repr", False)

## Data reading

In [3]:
df = pd.read_csv("../data/Week1_challenge_data_source.csv")

In [4]:
df[:2]

   Bearer Id           Start  Start ms              End  End ms  Dur. (ms)       IMSI  MSISDN/Number       IMEI     Last Location Name  Avg RTT DL (ms)  Avg RTT UL (ms)  Avg Bearer TP DL (kbps)  Avg Bearer TP UL (kbps)  TCP DL Retrans. Vol (Bytes)  TCP UL Retrans. Vol (Bytes)  DL TP < 50 Kbps (%)  50 Kbps < DL TP < 250 Kbps (%)  250 Kbps < DL TP < 1 Mbps (%)  DL TP > 1 Mbps (%)  UL TP < 10 Kbps (%)  10 Kbps < UL TP < 50 Kbps (%)  50 Kbps < UL TP < 300 Kbps (%)  UL TP > 300 Kbps (%)  HTTP DL (Bytes)  HTTP UL (Bytes)  Activity Duration DL (ms)  Activity Duration UL (ms)  Dur. (ms).1 Handset Manufacturer                 Handset Type  Nb of sec with 125000B < Vol DL  Nb of sec with 1250B < Vol UL < 6250B  Nb of sec with 31250B < Vol DL < 125000B  Nb of sec with 37500B < Vol UL  Nb of sec with 6250B < Vol DL < 31250B  Nb of sec with 6250B < Vol UL < 37500B  Nb of sec with Vol DL < 6250B  Nb of sec with Vol UL < 1250B  Social Media DL (Bytes)  Social Media UL (Bytes)  Google DL (Bytes)  Google UL (Bytes)  Email DL (Bytes)  Email UL (Bytes)  Youtube DL (Bytes)  Youtube UL (Bytes)  Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  Total DL (Bytes)
0  1.311e+19  4/4/2019 12:01     770.0  4/25/2019 14:35   662.0  1.824e+06  2.082e+14      3.366e+10  3.552e+13  9.16456699548519E+015             42.0              5.0                     23.0                     44.0                          NaN                          NaN                100.0                             0.0                            0.0                 0.0                100.0                            0.0                             0.0                   0.0              NaN              NaN                    37624.0                    38787.0    1.824e+09              Samsung   Samsung Galaxy A5 Sm-A520F                              NaN                                    NaN                                       NaN                             NaN                                     NaN                                     NaN                          213.0                          214.0                1.546e+06                  24420.0          1.634e+06          1.271e+06         3.564e+06          137762.0           1.585e+07           2.501e+06           8.199e+06           9.656e+06          2.781e+08          1.434e+07         1.717e+08         8.814e+06         3.675e+07         3.089e+08
1  1.311e+19  4/9/2019 13:04     235.0   4/25/2019 8:15   606.0  1.365e+06  2.082e+14      3.368e+10  3.579e+13                L77566A             65.0              5.0                     16.0                     26.0                          NaN                          NaN                100.0                             0.0                            0.0                 0.0                100.0                            0.0                             0.0                   0.0              NaN              NaN                      168.0                     3560.0    1.365e+09              Samsung  Samsung Galaxy J5 (Sm-J530)                              NaN                                    NaN                                       NaN                             NaN                                     NaN                                     NaN                          971.0                         1022.0                1.926e+06                   7165.0          3.494e+06          9.202e+05         6.290e+05          308339.0           2.025e+07           1.911e+07           1.834e+07           1.723e+07          6.088e+08          1.171e+06         5.269e+08         1.506e+07         5.380e+07         6.534e+08

## number of xDR sessions

In [10]:
df.groupby('MSISDN/Number')['Bearer Id'].count().nlargest(20)

MSISDN/Number
3.363e+10    18
3.361e+10    17
3.363e+10    17
3.366e+10    16
3.368e+10    15
3.376e+10    15
3.367e+10    13
3.360e+10    12
3.360e+10    12
3.363e+10    12
3.376e+10    12
3.379e+10    12
3.366e+10    11
3.366e+10    11
3.367e+10    11
3.367e+10    11
3.370e+10    11
3.363e+10    10
3.363e+10    10
3.366e+10    10
Name: Bearer Id, dtype: int64

## Session duration

In [13]:
df.groupby('MSISDN/Number')['Dur. (ms)'].sum().nlargest(20)

MSISDN/Number
3.363e+10    1.855e+07
3.361e+10    9.967e+06
3.376e+10    9.279e+06
3.363e+10    8.792e+06
3.367e+10    8.745e+06
3.366e+10    6.614e+06
3.366e+10    6.289e+06
3.360e+10    6.288e+06
3.367e+10    5.650e+06
3.376e+10    5.322e+06
3.366e+10    5.306e+06
3.360e+10    5.208e+06
3.370e+10    5.169e+06
3.366e+10    4.976e+06
3.366e+10    4.890e+06
3.368e+10    4.866e+06
3.370e+10    4.838e+06
3.363e+10    4.704e+06
3.366e+10    4.687e+06
3.367e+10    4.537e+06
Name: Dur. (ms), dtype: float64

## the total download (DL) and upload (UL) data

In [20]:
df.groupby('MSISDN/Number')[['Total DL (Bytes)',
                             'Total UL (Bytes)']].sum().nlargest(20, ['Total DL (Bytes)',
                                                                      'Total UL (Bytes)'])

               Total DL (Bytes)  Total UL (Bytes)
MSISDN/Number
3.361e+10             8.157e+09         6.895e+08
3.376e+10             7.811e+09         7.035e+08
3.363e+10             7.770e+09         7.296e+08
3.368e+10             7.310e+09         5.816e+08
3.363e+10             7.302e+09         6.697e+08
3.366e+10             7.082e+09         6.243e+08
3.367e+10             6.903e+09         4.051e+08
3.376e+10             6.611e+09         5.215e+08
3.366e+10             6.401e+09         4.712e+08
3.370e+10             6.011e+09         5.303e+08
3.366e+10             5.972e+09         4.801e+08
3.370e+10             5.392e+09         4.805e+08
3.363e+10             5.309e+09         4.453e+08
3.367e+10             5.296e+09         3.367e+08
3.366e+10             5.280e+09         4.022e+08
3.366e+10             5.205e+09         4.699e+08
3.362e+10             5.195e+09         3.177e+08
3.379e+10             5.156e+09         4.663e+08
3.360e+10             5.096e+09         3.918e+08
3.363e+10             5.062e+09         4.319e+08

## Data reading

In [18]:
df["total_data_usage"] = df["Total DL (Bytes)"] + df["Total UL (Bytes)"]
df.groupby('MSISDN/Number')['total_data_usage'].sum().nlargest(20)

MSISDN/Number
3.361e+10    8.846e+09
3.376e+10    8.515e+09
3.363e+10    8.500e+09
3.363e+10    7.971e+09
3.368e+10    7.891e+09
3.366e+10    7.706e+09
3.367e+10    7.309e+09
3.376e+10    7.132e+09
3.366e+10    6.872e+09
3.370e+10    6.541e+09
3.366e+10    6.452e+09
3.370e+10    5.872e+09
3.363e+10    5.755e+09
3.366e+10    5.682e+09
3.366e+10    5.675e+09
3.367e+10    5.633e+09
3.379e+10    5.622e+09
3.367e+10    5.618e+09
3.362e+10    5.512e+09
3.363e+10    5.494e+09
Name: total_data_usage, dtype: float64