# User Experience Analytics

## Imports

In [1]:
import numpy as np
import pandas as pd
from math import floor
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from scipy.stats import zscore
from sklearn import metrics
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler, normalize
from scipy.spatial.distance import cdist
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option("expand_frame_repr", False)
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from df_selector import DfSelector
from df_outlier import DfOutlier
from vis_seaborn import *
from vis_plotly import *

2021-07-16 22:34:46,424 — DfSelector — DEBUG — Loaded successfully!
2021-07-16 22:34:46,430 — DfOutlier — DEBUG — Loaded successfully!

## Data reading

In [4]:
df = pd.read_csv("../data/clean_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146882 entries, 0 to 146881
Data columns (total 54 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   bearer_id                       146882 non-null  int64
 1   start                           146882 non-null  object
 2   start_ms                        146882 non-null  float64
 3   end                             146882 non-null  object
 4   end_ms                          146882 non-null  float64
 5   dur_(ms)                        146882 non-null  float64
 6   imsi                            146882 non-null  int64
 7   msisdn_number                   146882 non-null  int64
 8   imei                            146882 non-null  int64
 9   last_location_name              146882 non-null  object
 10  avg_rtt_dl_(ms)                 146882 non-null  float64
 11  avg_rtt_ul_(ms)                 146882 non-null  float64
 12  avg_bearer_tp_dl_(kbps)         146882 non-null  float64
 13  avg_bearer_tp_ul_(kbps)         146882 non-null  float64
 14  tcp_dl_retrans_vol_(bytes)      146882 non-null  float64
 15  tcp_ul_retrans_vol_(bytes)      146882 non-null  float64
 16  dl_tp_<_50_kbps_(%)             146882 non-null  float64
 17  50_kbps_<_dl_tp_<_250_kbps_(%)  146882 non-null  float64
 18  250_kbps_<_dl_tp_<_1_mbps_(%)   146882 non-null  float64
 19  dl_tp_>_1_mbps_(%)              146882 non-null  float64
 20  ul_tp_<_10_kbps_(%)             146882 non-null  float64
 21  10_kbps_<_ul_tp_<_50_kbps_(%)   146882 non-null  float64
 22  50_kbps_<_ul_tp_<_300_kbps_(%)  146882 non-null  float64
 23  ul_tp_>_300_kbps_(%)            146882 non-null  float64
 24  activity_duration_dl_(ms)       146882 non-null  float64
 25  activity_duration_ul_(ms)       146882 non-null  float64
 26  handset_manufacturer            146882 non-null  object
 27  handset_type                    146882 non-null  object
 28  nb_of_sec_with_vol_dl_<_6250b   146882 non-null  float64
 29  nb_of_sec_with_vol_ul_<_1250b   146882 non-null  float64
 30  social_media_dl_(bytes)         146882 non-null  float64
 31  social_media_ul_(bytes)         146882 non-null  float64
 32  google_dl_(bytes)               146882 non-null  float64
 33  google_ul_(bytes)               146882 non-null  float64
 34  email_dl_(bytes)                146882 non-null  float64
 35  email_ul_(bytes)                146882 non-null  float64
 36  youtube_dl_(bytes)              146882 non-null  float64
 37  youtube_ul_(bytes)              146882 non-null  float64
 38  netflix_dl_(bytes)              146882 non-null  float64
 39  netflix_ul_(bytes)              146882 non-null  float64
 40  gaming_dl_(bytes)               146882 non-null  float64
 41  gaming_ul_(bytes)               146882 non-null  float64
 42  other_dl_(bytes)                146882 non-null  float64
 43  other_ul_(bytes)                146882 non-null  float64
 44  total_ul_(bytes)                146882 non-null  float64
 45  total_dl_(bytes)                146882 non-null  float64
 46  social_media                    146882 non-null  float64
 47  google                          146882 non-null  float64
 48  email                           146882 non-null  float64
 49  youtube                         146882 non-null  float64
 50  netflix                         146882 non-null  float64
 51  gaming                          146882 non-null  float64
 52  other                           146882 non-null  float64
 53  total_data                      146882 non-null  float64
dtypes: float64(45), int64(4), object(5)
memory usage: 60.5+ MB